openapi: 3.0.3
info:
  title: Folk External Companies Notes API
  description: Folk's public REST API lets you manage the relationship data in a Folk workspace - people, companies, groups, deals and other custom objects, notes, reminders, and interactions - and subscribe to real-time changes via webhooks. The API is versioned by date (send an `Folk-Version` date such as 2025-06-09); the production base URL is https://api.folk.app and all documented resources live under the `/v1` path. Every request is authenticated with a Bearer API key created in workspace settings under "API". API access is a paid-plan (Premium / Enterprise) feature. This document is modeled by API Evangelist from Folk's published OpenAPI schema (https://developer.folk.app/schemas/2025-06-09.json) and reference docs.
  version: '2025-06-09'
  contact:
    name: Folk
    url: https://www.folk.app
  termsOfService: https://www.folk.app/legal/terms-and-conditions
servers:
- url: https://api.folk.app
  description: Folk's public API production base URL.
security:
- bearerApiKeyAuth: []
tags:
- name: Notes
  description: Free-form notes attached to contacts.
paths:
  /v1/notes:
    get:
      operationId: listNotes
      tags:
      - Notes
      summary: List notes
      parameters:
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          $ref: '#/components/responses/NoteList'
    post:
      operationId: createNote
      tags:
      - Notes
      summary: Create a note
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteInput'
      responses:
        '201':
          $ref: '#/components/responses/NoteSingle'
  /v1/notes/{noteId}:
    parameters:
    - name: noteId
      in: path
      required: true
      description: The unique identifier of the note.
      schema:
        type: string
    get:
      operationId: getNote
      tags:
      - Notes
      summary: Get a note
      responses:
        '200':
          $ref: '#/components/responses/NoteSingle'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      operationId: updateNote
      tags:
      - Notes
      summary: Update a note
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteInput'
      responses:
        '200':
          $ref: '#/components/responses/NoteSingle'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      operationId: deleteNote
      tags:
      - Notes
      summary: Delete a note
      responses:
        '204':
          description: The note was deleted.
        '404':
          $ref: '#/components/responses/NotFound'
components:
  schemas:
    Note:
      type: object
      properties:
        id:
          type: string
        content:
          type: string
        entityType:
          type: string
          enum:
          - person
          - company
          - object
        entityId:
          type: string
        createdAt:
          type: string
          format: date-time
    NoteInput:
      type: object
      required:
      - content
      properties:
        content:
          type: string
        entityType:
          type: string
          enum:
          - person
          - company
          - object
        entityId:
          type: string
    Pagination:
      type: object
      description: Cursor-based pagination metadata.
      properties:
        nextCursor:
          type: string
          nullable: true
          description: Cursor to pass to retrieve the next page, or null if none.
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: NOT_FOUND
            message:
              type: string
            documentationUrl:
              type: string
  responses:
    NotFound:
      description: The requested resource was not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NoteSingle:
      description: A single note.
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                $ref: '#/components/schemas/Note'
    NoteList:
      description: A paginated list of notes.
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Note'
              pagination:
                $ref: '#/components/schemas/Pagination'
  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      description: A cursor for pagination across multiple pages of results. Don't include this parameter on the first request; use the `nextCursor` from the previous response.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      description: The number of items to return.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
  securitySchemes:
    bearerApiKeyAuth:
      type: http
      scheme: bearer
      description: 'API key for authentication, sent as `Authorization: Bearer <api_key>`. Keys are created in workspace settings under "API". API access requires a paid Folk plan.'
